@using RecursosHumanos.Models.ViewModels.Empleados
@model PersonalAlarmaDetalleVM

<div class="alertas-overlay alertas-overlay-details">
    <div class="alertas-modal">

        <div class="modal-header">
            <h5><i class="bi bi-eye"></i> Detalles del personal</h5>
            <button type="button"
                    class="btn-close"
                    onclick="AlertasOverlayDetails.close()"></button>
        </div>

        <div class="modal-body">
            <dl class="row">

                <dt class="col-sm-4">Nombre</dt>
                <dd class="col-sm-8">@Model.Nombre</dd>

                <dt class="col-sm-4">Departamento</dt>
                <dd class="col-sm-8">@Model.NombreDepartamento</dd>

                <dt class="col-sm-4">Estado</dt>
                <dd class="col-sm-8">@Model.Estado</dd>

                <dt class="col-sm-4">Teléfono</dt>
                <dd class="col-sm-8">@Model.TelefonoPersonal</dd>

                <dt class="col-sm-4">Correo</dt>
                <dd class="col-sm-8">@Model.Email</dd>

                <dt class="col-sm-4">Emergencia</dt>
                <dd class="col-sm-8">@Model.TelefonoEmergencia</dd>

                <dt class="col-sm-4">Dirección</dt>
                <dd class="col-sm-8">@Model.Direccion</dd>

            </dl>
        </div>

        <div class="modal-footer">
            <button class="btn btn-secondary"
                    onclick="AlertasOverlayDetails.close()">
                Cerrar
            </button>
        </div>

    </div>
</div>
